@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    display: block;
    padding: 8px 8px;
}

nav a:hover {
    background-color: lightgray;
    border-radius: 4px;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.npmLogo {
    width: 60px;
    margin-right: 20px;
}

form {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 20px;
    padding: 10px 20px;
}

form label {
    padding: 8px;
    background-color: rgba(0, 0, 0, .05);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

form label img {
    width: 20px;
    height: 20px;
}

form input {
    width: 100%;
    padding: 8px;
    border: none;
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Poppins';
    background-color: rgba(0, 0, 0, .05);
}

form input:focus {
    outline: none;
}

form button {
    padding: 8px 12px;
    border: none;
    background-color: #fb3e44;
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: #ad050a;
}

a {
    text-decoration: none;
    display: inline-flexbox;
}

.joinAnchor button, .loginAnchor button {
    padding: 6px 20px;
    background-color: white;
    font-weight: bold;
    font-family: 'Poppins';
    cursor: pointer;
    margin-left: 10px;
}

.joinButton {
    border: 1px solid black;
}

.loginButton {
    border: none;
}

.joinAnchor button:hover, .loginAnchor button:hover {
    background-color: lightgray;
}

#upperSection {
    background-color: rgba(232,217,217,.3);
    height: 600px;
    padding: 20px;
    text-align: center;
    display: flexbox;
    justify-content: space-between;
}

#upperSection h1 {
    margin-top: 100px;
    font-size: 70px;
    font-weight: bolder;
}

#upperSection article, #middleSection article {
    margin-top: 20px;
}

#upperSection article p {
    font-size: 18px;
    line-height: 1.6;
    width: 500px;
    margin: 10px auto 20px;
    font-weight: bold;
}

#upperSection div {
    margin-top: 60px;
    margin-bottom: 40px;
}

#upperSection div a {
    padding: 8px 12px;
}

#upperSection div a button {
    padding: 15px 60px;
    border: none;
    font-weight: bolder;
    font-family: 'Poppins';
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
}

.seePlansButton {
    color: white;
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.seePlansButton:hover {
    background-color: #e85660;
    box-shadow: 9px 9px 0 rgba(251,59,73,.3);
}

.joinForFreeButton {
    color: black;
    background-color: white;
}

.joinForFreeButton:hover {
    background-color: rgb(210, 188, 188);
}

#middleSection {
    background-color: white;
    height: 600px;
    padding: 20px;
    text-align: center;
    display: flexbox;
    justify-content: space-between;
}

#middleSection img {
    margin-top: 20px;
    padding-top: 50px;
    max-width: 50%;
    max-height: 40%;
    margin-bottom: 20px;
    padding-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#middleSection h2 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bolder;
    color: black;
    font-style: italic;
    display: inline-block;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    padding: 5px 30px 5px 30px;
    
}

#middleSection article p {
    font-size: 14px;
    line-height: 1.6;
    width: 700px;
    margin: 10px auto 20px;
    font-weight: bold;
}

#lowerSection {
    background-color: white;
    height: 600px;
    padding: 20px;
    text-align: center;
    display: flexbox;
    justify-content: space-between;
}

#lowerSection > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    padding-top: 50px;
}

#lowerSection div div {
    flex: 1;
    margin: 10px;
    padding: 20px;
    text-align: left;
    border: 1px;
    box-sizing: border-box;
}

#lowerSection div div img {
    height: 30px;
    display: block;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    max-width: 50%;
    max-height: 50%;
    object-fit: cover;
}

#lowerSection div div h3 {
    color: #ED1C24;
    margin-top: 30px;
    padding-top: 20px;
    font-weight: bolder;
    font-size: 18px;
}

#lowerSection div div p {
    font-size: 16px;
    font-weight: bold;
    color: black;
    line-height: 1.6;
    width: 250px;
}

#lowerSection a button {
    margin-top: 50px;
    padding: 10px 160px;
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 20px;
    color: white;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    cursor: pointer;
    border: none;
}

#lowerSection a button:hover {
    background-color: rgb(68, 63, 63);
    box-shadow: 8px 8px 0 rgba(128,83,35,.3);
}